*{
    margin: 0;
    padding: 0;
}
html{
    overflow-y: hidden;
    overflow-x: hidden;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size:auto;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 170px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: large;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
a:link{
    text-decoration: none;
    background-color: transparent;
    color: #009688;
}
a:visited{
    color: #009688;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: #009699;
    background-color: transparent;
    text-decoration: underline;
}
button{
    border: #009688 3px solid;
    border-radius: 4px;
    background-color: #009688;
    color: white;
}
button:hover{
    border: white 3px solid;
    border-radius: 4px;
    background-color: white;
    color: #009688;
}
.video-one{
    margin-top: 1%;
    margin-left: -50%;
    scale: 80%;
}
.two{
    scale: 47.6%;
    margin-top: -22.4%;
    margin-left: 30%;
}
.three{
    scale: 39.5%;
    margin-top: -34.9%;
    margin-left: 13.8%;
}
.about p{
    margin-top: -46%;
    padding-left: 150px;
    padding-right: 150px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}